<p>league-table works!</p>
<table>
  <tr>
    <th>Team</th>
    <th>Played</th>
    <th>Wins</th>
    <th>Losses</th>
    <th>Draws</th>
    <th>GF</th>
    <th>GA</th>
    <th>Points</th>
  </tr>
  <tr *ngFor="let team of teams">
    <td>{{ team.teamName }}</td>
    <td>{{ team.matchesPlayed }}</td>
    <td>{{ team.matchesWon }}</td>
    <td>{{ team.matchesLoss }}</td>
    <td>{{ team.matchesDraw }}</td>
    <td>{{ team.goalsFor }}</td>
    <td>{{ team.goalsAgainst }}</td>
    <td>{{ team.points }}</td>
  </tr>
</table>
