<div>
  <app-side-nav></app-side-nav>
</div>
<br>
<div>
  <div *ngFor="let league of leagues">
    <h2>{{ league.leagueName }}</h2>
    <table>
      <tr>
        <th>Team</th>
        <th>Played</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Draws</th>
        <th>GF</th>
        <th>GA</th>
        <th>Points</th>
      </tr>
      <tr *ngFor="let team of league.activeTeams">
        <td>{{ team.teamName }}</td>
        <td>{{ team.matchesPlayed }}</td>
        <td>{{ team.matchesWon }}</td>
        <td>{{ team.matchesLoss }}</td>
        <td>{{ team.matchesDraw }}</td>
        <td>{{ team.goalsFor }}</td>
        <td>{{ team.goalsAgainst }}</td>
        <td>{{ team.points }}</td>
      </tr>
    </table>
  </div>
</div>


